- ye data 1 EV charging station ka hourly usage record hai jo 30 din ka hai.
- Dataset has 13 well-defined columns, but timestamp is wrongly typed as string.
- No missing data at all.
- Time series is perfectly continuous at 1 hour intervals with no gaps or duplicates.
- Data contains only one station, so this is a single-series forecasting problem.

In [2]:
import pandas as pd

In [3]:
DATA_PATH = r"F:\task\ev_charging_forecast\data\raw\karocharge_delhi_30day_realistic_synthetic_mixed_idle.csv"
df = pd.read_csv(DATA_PATH)
df.head()

,timestamp,station_id,num_sessions,avg_energy_kWh,energy_consumption_kWh,peak_power_kW,price_inr,is_holiday,weather_temp,weather_condition,is_idle_time,idle_duration_minutes,active_duration_minutes
0,09/11/2025 01:00,STN_DELHI_01,1,14.322362,9.548241,29.745500,16.532235,1,10.970434,Haze,0,20,40
1,09/11/2025 02:00,STN_DELHI_01,1,14.945375,14.945375,22.472012,15.626717,1,13.846141,Clear,0,0,60
2,09/11/2025 03:00,STN_DELHI_01,0,0.000000,0.000000,0.000000,13.753393,1,10.982564,Haze,1,45,15
3,09/11/2025 04:00,STN_DELHI_01,3,11.689493,23.378985,10.986084,18.761273,1,12.506471,Partly Cloudy,0,20,40
4,09/11/2025 05:00,STN_DELHI_01,0,0.000000,0.000000,0.000000,14.099645,1,12.345760,Clear,1,60,0

In [5]:
df["num_sessions"].value_counts()

num_sessions
0    311
1    257
2    106
3     47
Name: count, dtype: int64

In [5]:
df.shape

(721, 13)

In [7]:
df.dtypes

timestamp                      str
station_id                     str
num_sessions                 int64
avg_energy_kWh             float64
energy_consumption_kWh     float64
peak_power_kW              float64
price_inr                  float64
is_holiday                   int64
weather_temp               float64
weather_condition              str
is_idle_time                 int64
idle_duration_minutes        int64
active_duration_minutes      int64
dtype: object

In [ ]:
df.isna().sum()

timestamp                  0
station_id                 0
num_sessions               0
avg_energy_kWh             0
energy_consumption_kWh     0
peak_power_kW              0
price_inr                  0
is_holiday                 0
weather_temp               0
weather_condition          0
is_idle_time               0
idle_duration_minutes      0
active_duration_minutes    0
dtype: int64

In [ ]:
# convert timestamp ONLY for inspection (no cleaning)
ts = pd.to_datetime(df["timestamp"], format="%d/%m/%Y %H:%M")
ts_sorted = ts.sort_values()
hour_diffs = ts_sorted.diff().value_counts().sort_index()
hour_diffs

timestamp
0 days 01:00:00    720
Name: count, dtype: int64

In [10]:
df["station_id"].nunique(), df["station_id"].value_counts()

(1,
 station_id
 STN_DELHI_01    721
 Name: count, dtype: int64)